/*================ОБНУЛЕНИЕ СТИЛЕЙ================*/
@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
	font-family: 'Roboto Condensed', sans-serif;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a
{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
/*================ОБНУЛЕНИЕ СТИЛЕЙ================*/


































body{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 12px;
}
#main{
    width:100%;
}

#header_bg{
    width:100%;
    height:155px;
    background-image: url(../images/header_bg.jpg);
    background-repeat: repeat-x;
}

#menu1_bg{
    width:100%;
    height:35px;
    background-image: url(../images/menu1_bg.jpg);
    background-repeat: repeat-x;
}

#menu2_bg{
    width:100%;
    height:36px;
    background-image: url(../images/menu2_bg.jpg);
    background-repeat: repeat-x;
}

#menu3_bg{
    width:100%;
    height:72px;
    background-image: url(../images/menu3_bg.jpg);
    background-repeat: repeat-x;
}

#content{
    position:absolute;
    left:270px;
    top:298px;
    padding:15px;
}

#footer{
    clear:both;
    width:100%;
    height:28px;
    background-image: url(../images/footer.jpg);
    background-repeat: repeat-x;
    text-align:center;
    padding-top:5px;
}